// Importing variables overrides
@import "common/_variables.scss";

// Importing all Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7b4397,
    #dc2430
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7b4397, #dc2430);
}

// Custom styles
.h-full {
  height: 100vh;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;

  svg {
    width: 48px;
    height: 48px;
    margin: 8px;
  }
}
